<header class="sticky">
  <a routerLink="/" class="logo" style="margin-right: 2%;"> <span class="icon-home"></span> <span>2-SPA</span> </a>
  <a routerLink="heroes" routerLinkActive="router-link-active" class="button" style="margin-right: 2%;">
  <span> Heroes</span>
  </a>
    <a routerLink="about" routerLinkActive="router-link-active" class="button" style="margin-right: 2%;">
   <span> About us</span>
   </a>
<hr/>
   <a routerLink="contacts" class="button">
    <span> Contacts</span>
    </a>
    <br/>
    <a routerLink="car" class="button">
      <span>Car</span>
     </a>
     <br/>
     <a routerLink="converter" class="button">
      <span> Converter</span>
      </a>
      <br/>
      <a routerLink="rates" class="button">
        <span> Rates</span>
       </a>
       <br/>
       <a routerLink="notifications" class="button">Notifications</a>
       <br/>
       <a routerLink="security/register" class="button">Register</a>
 </header>
